{template "mobile","header"}

<div style="padding:8px 10px; clear:both;">
       <div class="lmtys"><span style="font-size:14px;">{$CATEGORYS[$parentid][catname]}&gt;{$catname} </span></div>
  <ul class="wzbtlb" style="padding-top:10px;">
            
        
{pc:content action="category" catid="$catid" num="12" siteid="$siteid" order="listorder ASC" return="info"}
  {if $info}
			{loop $info $v}
			 <li style="float:left; width:42%; padding: 4%; text-align:center;"><a href="{list_url($v['catid'])}"><img src="{$v['image']}" width="100%" ><br> {str_cut($v['catname'],30,'')}</a></li>		  
		  {/loop}
          
    {else}

     {pc:content action="lists" catid="$catid" num="10" order="id desc" page="$page"}
     {loop $data $r}
     		 <li style="float:left; width:42%; padding: 4%; text-align:center;"><img src="{$r['thumb']}" width="100%" ><br> {str_cut($r['title'],30,'')}</li>	
     {/loop}
     {/pc}
    <div class="pages">{$pages}</div>
    {/if}      
	{/pc}
   
  </ul>
             
</div>
     <div style="clear:both;"></div>
  <div class="pages">{$pages}</div>


{template "mobile","footer"}