<div class="footerWrapper">
	<div class="footer">
    	<div class="logo">
        	<a href="#"><img src="{IMG_PATH}images/logo_footer_03.png"></a>
        </div>
        <div class="sitemap">
        	<div class="col1">
				
                <ul>
				  
                	<li style="margin-left:50px;"><a href="http://wpa.qq.com/msgrd?v=3&uin=98246262&site=qq&menu=yes"><img src="{IMG_PATH}images/qq.png"></a><div align="center">QQ客服</div></li>
                   
                </ul>
            </div>
			<div class="col2" style="margin-top: 40px;">
				<img src="{IMG_PATH}images/weixin.png">
				<p align="center">微信公众号</p>
            </div>
        
        
        </div>
        <hr />
        <div class="copyright">
        	{pc:block pos="footer"}{/pc}
			<div align=center><img src="{IMG_PATH}images/gongshang.png"></div>
        
		</div>
		
    </div>
</div>