<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content=" LiYuxi" />
<meta name="Copyright" content="" />
<meta name="Keywords" content="">   
<meta name="Description" content="">   
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>首页</title>
<script type="text/javascript" src="{JS_PATH}wap/jquery.min.js"></script>
<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="{CSS_PATH}wap/styles.css" type="text/css">
<script type="text/javascript" src="{JS_PATH}wap/jquery.min.js"></script>
</head>
<body>
  <div class="wrap bc">
    <div class="title tc pr top">
	  <span class="back-btn"></span>陕西中信蓝海企业集团
	  <div class="nav-btn">
	    <ul class="pa">
		    
		    <li><a href="/index.php?m=wap&siteid=1&a=show&catid=58&typeid=36&id=34">{$TYPE[36]['typename']}</a></li>
	        <li><a href="/index.php?m=wap&c=index&a=lists&typeid=38">{$TYPE[38]['typename']}</a></li>
			<li><a href="/index.php?m=wap&c=index&a=lists&typeid=39">{$TYPE[39]['typename']}</a></li>
			<li><a href="/index.php?m=wap&c=index&a=lists&typeid=37">{$TYPE[37]['typename']}</a></li>
			<li><a href="/index.php?m=wap&siteid=1&a=show&catid=57&typeid=40&id=33">{$TYPE[40]['typename']}</a></li>
			
	    </ul>
	  </div>
	</div>
	<div class="logo oh tc mt10">
	  <img src="{IMG_PATH}wap/logo.png" style="margin-top: 20px; height: auto;width: 350px;" />
	</div>
	<ul class="nav title mt10">
          	 <li><a href="/index.php?m=wap&siteid=1&a=show&catid=58&typeid=36&id=34">{$TYPE[36]['typename']}</a></li>
	        <li><a href="/index.php?m=wap&c=index&a=lists&typeid=38">{$TYPE[38]['typename']}</a></li>
			<li><a href="/index.php?m=wap&c=index&a=lists&typeid=39">{$TYPE[39]['typename']}</a></li>
			<li><a href="/index.php?m=wap&c=index&a=lists&typeid=42">{$TYPE[42]['typename']}</a></li>
			<li><a href="/index.php?m=wap&c=index&a=lists&typeid=37">{$TYPE[37]['typename']}</a></li>
			
			<li><a href="/index.php?m=wap&siteid=1&a=show&catid=57&typeid=40&id=33">{$TYPE[40]['typename']}</a></li>
	</ul>
	<div class="banner oh mt10 pr">
	  <ul class="pr">
	    <li><a href=""><img src="{IMG_PATH}wap/1.jpg"/></a></li>
		<li><a href=""><img src="{IMG_PATH}wap/2.jpg"/></a></li>
		<li><a href=""><img src="{IMG_PATH}wap/3.jpg"/></a></li>
	  </ul>
	  <div class="focus pa">
	    <span class="pa"></span>
	  </div>
	</div>