{template "content","header"}
<script type="text/javascript" src="{JS_PATH}formvalidator.js" charset="UTF-8"></script> 
<script type="text/javascript" src="{JS_PATH}formvalidatorregex.js" charset="UTF-8"></script>
<link href="{CSS_PATH}link.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}table_form.css" rel="stylesheet" type="text/css" /> 
<div class="news-list">
			<div class="news-list-left">
				<h2>{$CATEGORYS[$parentid][catname]}</h2>
				<div class="sidebar">
					<ul class="side-menu">
					{pc:content action="category" catid="$parentid" num="12" siteid="$siteid" order="listorder ASC"}
					{loop $data $r}
						<li {if $r[catid]== $catid} class="on" {/if}><a href="{$r[url]}">{$r[catname]}</a></li>
								<!-- <li class="on"><a href="#">旅游新闻</a></li>
								<li><a href="#">媒体报道</a></li> -->
					{/loop}
					{/pc}
					</ul>
					<dl class="me">
						{pc:block pos="banner"}{/pc}
					</dl>
				</div>			
			</div>
			<div class="news-list-right">
				<div class="position">				
					<div class="before-position">
						当前位置：<a href="{$CATEGORYS[$CAT[parentid]][url]}">{$CATEGORYS[$CAT[parentid]][catname]} </a> > <a class="blue" href="{$CAT[url]}">{$CAT[catname]} </a>
					</div>
					<h4 class="blue">{$CATEGORYS[$catid][catname]}</h4>
				</div>
<div class="main">
			<form action="{APP_PATH}index.php?m=guestbook&c=index&a=register" method="post" name="myform" id="myform">
			<table cellspacing="1" cellpadding="0" class="table_form">
			<caption>在线留言</caption>
			<tbody>

			<tr> 
			<th>姓名：</th>
			<td><input type="text"  name="name" class="input-text"></td>
			</tr>
			<tr> 
			<th>Q Q：</th>
			<td><input type="text"  name="qq"  class="input-text"></td>
			</tr>

			<tr> 
			<th>手机：</th>
			<td><input type="text"  name="phone" class="input-text"></td>
			</tr>
			<tr> 
			<th>邮箱：</th>
			<td><input type="text"  name="email" class="input-text"></td>
			</tr>

			<tr>
			  <th>内容：</th>
			  <td><textarea name="content" cols="40" rows="5" class="input-text"  style='width:500px;height:70px; resize:none;'></textarea></td>
			</tr>

			<tr>
			<th>验证码：</th>
			<td><input name="code" type="text"  size="10"  class="input-text"/> {form::checkcode('code_img','4','14',110,30)}</td>
			</tr>

			<tr> 
			<th></th>
			<td><input type="submit" value=" 提交 " name="dosubmit" class="button"> </td>
			</tr> 
			</tbody></table>
			</form><br/>
            <h3 align="center">查看留言</h3>
		{pc:get sql="select * from v9_guestbook  order by 'id desc' num='1' return='data' page='$page'"}
        {loop $data $r}	
			<div align="center">
			   <h5>游客{$name}:&nbsp;&nbsp;留言时间:{$addtime}</h5>
			   <h5>留言内容:</h5>
			   <p>{$content}</p>
			   </h5>管理员{$username}回复:</h5>
			   <p>{$replycontent}</p>
			</div>
		{/loop}
		<div>{$pages}</div>
        {/pc}		
</div>	
				<div class="pages">
					{$pages}
				</div>
			</div>
		</div>
{template "content","footer"}