<style type="text/css">
    *{margin:0; padding:0}
    #nav h5{    height: 40px !important;
        line-height: 40px !important;
        margin-bottom: 2px;
        text-indent: 68px;
        background-image: url({IMG_PATH}sidebar_ico.jpg) ;
        background-position:  60px center;
        background-repeat: no-repeat;

        font-size: 16px !important;
        height: 40px !important;
        line-height: 40px !important;
        padding-left: 0 !important;
        text-decoration: none;}
    #nav .sanji a{height: 40px !important;
        line-height: 40px !important;
        margin-bottom: 2px;
        text-indent: 55px; display:block;
        font-size: 16px !important;
        height: 40px !important;
        line-height: 40px !important;
        padding-left: 0 !important;
        text-decoration: none;}
    #nav h5:hover,#nav h5.active {

        background: #28166f url({IMG_PATH}sidebar_ico02.jpg) no-repeat 60px center;
        color:#fff;
    }
     #nav .sanji a.active,#nav .sanji a:hover{
         background: #28166f ;color:#fff;
     }
    #nav div{display:none; border-top:none}
    #nav div.active{display: block}
</style>
<script type="text/javascript">
    $(function(){
        $("#nav h5").css("cursor","pointer");

        $("#nav h5").on("click",function(){
            $(this).next(".sanji").slideToggle(500);
        })
    })
</script>
<ul class="content" id="nav">
    <!--{pc:content action="category" catid="115" num="12" siteid="$siteid" order="listorder ASC"}
    {loop $data $c}
       <li><a {if $catid == $c[catid]} class="on" style="background-color:#28166f;color:#fff;" {/if} href="{$c['url']}">{$c['catname']}</a></li>
    {/loop}
    {/pc}-->
    <?php
        $pcatid = $CATEGORYS[$catid]['parentid'];
    ?>

    <h5  class="{if $pcatid == 115} active{/if}">{$CATEGORYS[115][catname]}</h5>
    <div   class="sanji {if $pcatid == 115} active{/if}">
        <a class="{if $catid == 117} active{/if}" href="{$CATEGORYS[117][url]}">{$CATEGORYS[117][catname]}</a>
        <a class="{if $catid == 118} active{/if}" href="{$CATEGORYS[118][url]}">{$CATEGORYS[118][catname]}</a>
        <a class="{if $catid == 119} active{/if}"  href="{$CATEGORYS[119][url]}" >{$CATEGORYS[119][catname]}</a>
    </div>
    <li><a {if $catid ==163 || $CATEGORYS[$catid][parentid]==163 || $CATEGORYS[$catid][parentid]==112  && $catid!=81 && $catid!= 79&& $catid!= 63&& $catid!= 78&& $catid!= 66  && $catid!=178} class="on"  style="background-color:#28166f;color:#fff;" {/if} href="{$CATEGORYS[163][url]}">{$CATEGORYS[163][catname]}</a></li>
    <li><a {if $catid ==66} class="on"  style="background-color:#28166f;color:#fff;" {/if} href="{$CATEGORYS[66][url]}">{$CATEGORYS[66][catname]}</a></li>
    <li><a {if $catid ==78 || $CATEGORYS[$catid][parentid]==78} class="on"  style="background-color:#28166f;color:#fff;" {/if} href="{$CATEGORYS[78][url]}">{$CATEGORYS[78][catname]}</a></li>
    <li><a {if $catid ==63} class="on"  style="background-color:#28166f;color:#fff;" {/if} href="{$CATEGORYS[63][url]}">{$CATEGORYS[63][catname]}</a></li>
    <li><a {if $catid ==79} class="on"  style="background-color:#28166f;color:#fff;" {/if} href="{$CATEGORYS[79][url]}">{$CATEGORYS[79][catname]}</a></li>
    
    <li><a {if $catid ==178} class="on"  style="background-color:#28166f;color:#fff;" {/if} href="{$CATEGORYS[178][url]}">{$CATEGORYS[178][catname]}</a></li>
    <li><a {if $catid ==81} class="on"  style="background-color:#28166f;color:#fff;" {/if} href="{$CATEGORYS[81][url]}">{$CATEGORYS[81][catname]}</a></li>
</ul>