<?php
$top_parentid = $CATEGORYS[$catid]['parentid'];
?>
<h5 class="h5_206 {if $top_parentid == 206} active{/if}">{$CATEGORYS[206][catname]}</h5>
<div class="div_206 {if $top_parentid == 206} active{/if}" data-value="206">
    <a class="{if $catid == 234} active{/if}" href="{$CATEGORYS[234][url]}">{$CATEGORYS[234][catname]}</a>
    <a class="{if $catid == 235} active{/if}" href="{$CATEGORYS[235][url]}">{$CATEGORYS[235][catname]}</a>
    <a class="{if $catid == 236} active{/if}" href="{$CATEGORYS[236][url]}">{$CATEGORYS[236][catname]}</a>
    <a class="{if $catid == 237} active{/if}" href="{$CATEGORYS[237][url]}">{$CATEGORYS[237][catname]}</a>
    <a class="{if $catid == 238} active{/if}" href="{$CATEGORYS[238][url]}">{$CATEGORYS[238][catname]}</a>
    <a class="{if $catid == 239} active{/if}" href="{$CATEGORYS[239][url]}">{$CATEGORYS[239][catname]}</a>
</div>

<link href="/statics/css/newbetter.css" rel="stylesheet" type="text/css" />

<h5 class="h5_207 {if $top_parentid == 207} active{/if}">{$CATEGORYS[207][catname]}</h5>
<div class="div_207 {if $top_parentid == 207} active{/if}" data-value="207">
    <a class="{if $catid == 214} active{/if}" href="{$CATEGORYS[214][url]}">{$CATEGORYS[214][catname]}</a>
    <a class="{if $catid == 240} active{/if}" href="{$CATEGORYS[240][url]}">{$CATEGORYS[240][catname]}</a>
</div>

<h5 class="h5_208 {if $top_parentid == 208} active{/if}">{$CATEGORYS[208][catname]}</h5>
<div class="div_208 {if $top_parentid == 208} active{/if}" data-value="208">
    <a class="{if $catid == 217} active{/if}" href="{$CATEGORYS[217][url]}">{$CATEGORYS[217][catname]}</a>
    <a class="{if $catid == 241} active{/if}" href="{$CATEGORYS[241][url]}">{$CATEGORYS[241][catname]}</a>

</div>

<h5 class="h5_209 {if $top_parentid == 209} active{/if}">{$CATEGORYS[209][catname]}</h5>
<div class="div_209 {if $top_parentid == 209} active{/if}" data-value="209">
    <a class="{if $catid == 220} active{/if}" href="{$CATEGORYS[220][url]}">{$CATEGORYS[220][catname]}</a>
    <a class="{if $catid == 242} active{/if}" href="{$CATEGORYS[242][url]}">{$CATEGORYS[242][catname]}</a>
</div>
<style type="text/css">
    *{margin:0; padding:0}
    #nav h5{    height: 40px !important;
        line-height: 40px !important;
        margin-bottom: 2px;
        text-indent: 68px;
        background-image: url({IMG_PATH}sidebar_ico.jpg) ;
        background-position:  60px center;
        background-repeat: no-repeat;

        font-size: 16px !important;
        height: 40px !important;
        line-height: 40px !important;
        padding-left: 0 !important;
        text-decoration: none;}
    #nav .sanji a{height: 40px !important;
        line-height: 40px !important;
        margin-bottom: 2px;
        text-indent: 55px; display:block;
        font-size: 16px !important;
        height: 40px !important;
        line-height: 40px !important;
        padding-left: 0 !important;
        text-decoration: none;}
    #nav h5:hover,#nav h5.active {

        background: #df270f url({IMG_PATH}sidebar_ico02.jpg) no-repeat 60px center!important;
        color:#fff;
    }
    #nav .sanji a.active,#nav .sanji a:hover{
        background: #df270f ;color:#fff;
    }
    #nav div{display:none; border-top:none}
    #nav div.active{display: block}
</style>
<script type="text/javascript">

    $(function(){
        $("#nav h5").css("cursor","pointer");

        $("#nav h5").on("click",function(){
            $(this).next("div").slideToggle(500);
        })
    })

</script>
