{template "content","header"}
<div class="wrapper"><div class="container irContainer" id="newsevents">
    <div class="irSection" style="border-top:0px;">
             <h1 class="irTitle" style="font-size:30px;">{$CATEGORYS[$catid][catname]}
</h1>
        <div class="irContentArea" style="border-right: none;width:988px;">
           
            <div class="fright">
                
                <div class="selectWrapper yearSelect">
                    <!-- <select id="yearSelect" class="dropdown" onChange="javascript:goto('?year='+this.value+'&type=all');">
                        <option value="all" selected>全部年份</option>
                        <option value="2016" >2016年</option>
                        <option value="2015" >2015年</option>
                        <option value="2014" >2014年</option>
                    </select> -->
                </div>
            </div>
            <div class="clearfix"></div>
{pc:content action="lists" catid="$catid" num="6" order="id DESC" page="$page"}  
{loop $data $r}	             
            <div class="listItem2" style="padding:0px;">
            	
                <div class="content" style="float:left;
     border-left: 0px;width:950px; ">
                	<h3 style="float:left;"><a href="{$r['url']}">{$r['title']}</a></h3>
                  <span style="float:right;">{date('Y-m-d',$r[inputtime])}</span>
                    
                   
                </div>
                <div class="clearfix"></div>
            </div>
{/loop}
  
           
      
      
     
       
               
            
<div class="pagerWrapper clearfix">
              <div class="num" style="float:right">{$pages}
                    </div>
                    
				
            </div>
{/pc}        			
                    </div>
      
            
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="push"></div>
</div>

{template "content","footer"}