{template "content","header"}
<link href="{CSS_PATH}reset.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}default_blue.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
<script type="text/javascript" src="{JS_PATH}jquery.sgallery.js"></script>
<script type="text/javascript" src="{JS_PATH}search_common.js"></script>
<br/>
<div class="page-t">
				<h1>{$catname}</h1>
				<div class="layer-nav">
					当前位置：
					> {catpos($catid)}
				</div>
			</div>

	<div class="con-main">
		<div class="con-sidebar">
			<div class="titlexg"><span class="titlezx">{$CAT[catname]}</span><span class="titlerigh"><a href="/index.php?m=content&c=index&a=lists&catid={$catid}">更多</a></span></div>
			<ul class="connav">
				{pc:content  action="hits" catid="$catid" num="20" order="views DESC" cache="3600"}
				{loop $data $r}
				<li ><a href="{$r[url]}">{str_cut($r[title],50,'...')}</a></li>
{/loop}
{/pc}
	
			</ul>
		</div>
		<div class="con-page">
			
			<div class="page-nr">
				<div class="tx6">
					<style type="text/css" >
.photo_prev a{cursor:url({IMG_PATH}v9/prev.cur), auto;}
.photo_next a{cursor:url({IMG_PATH}v9/next.cur), auto;}

</style>
<div class="main photo-channel">

    <div id="Article">
                                          <h1>{$title}<br />
			<span>{$inputtime}&nbsp;&nbsp;&nbsp;来源：{$copyfrom}&nbsp;&nbsp;&nbsp;</span></h1>
    <div class="big-pic" style="height:650px;">
		<div id="big-pic"></div>
    	<div class="photo_prev"><a id="photoPrev" title="&lt;上一页" class="btn_pphoto" target="_self" hidefocus="true" href="javascript:;" onclick="showpic('pre');"></a></div>
        <div class="photo_next"><a id="photoNext" title="下一页&gt;"class="btn_nphoto" target="_self" hidefocus="true" href="javascript:;" onclick="showpic('next')"></a></div>
        <a href="javascript:;" class="max" onclick="showpic('big');">查看原图</a>
        
        <div id="endSelect" style="display: none;">
			<div id="endSelClose" onclick="$('#endSelect').hide();"></div>
			<div class="bg"></div>
			<div class="E_Cont">
				<p>您已经浏览完所有图片</p>
				<p><a id="rePlayBut" href="javascript:void(0)" onclick="showpic('next', 1);"></a><a id="nextPicsBut" href="{$next_page[url]}"></a></p>	
			</div>
		</div>
        
    </div>

            <div class="text" id="picinfo"></div>
	<div class="content">
		
	</div>
	
    <div class="list-pic">
        <div class="pre picbig">
        	<div class="img-wrap"><a href="{$previous_page[url]}"><img src="{thumb($previous_page[thumb], 100, 137, 0)}" title="{$previous_page[title]}"></a></div><a href="{$previous_page[url]}">&lt;上一组</a>
        </div>
        <a href="javascript:;" onclick="showpic('pre')" class="pre-bnt"><span></span></a>
		<div class="cont" style="position:relative">
			<ul class="cont picbig" id="pictureurls"  style="position:absolute">
			{loop $pictureurls $pic_k $r}
			 <li><div class="img-wrap"><a href="javascript:;" hidefocus="true"><img src="{thumb($r[url], 100, 137, 0)}" alt="{$r[alt]}" rel="{$r[url]}"/></a></div></li>
			{/loop}
			</ul>
		</div>
        <a href="javascript:;" onclick="showpic('next')" class="next-bnt"><span></span></a>
        <div class="next picbig">
        	<div class="img-wrap"><a href="{$next_page[url]}" title="{$next_page[title]}"><img src="{thumb($next_page[thumb], 100, 137, 0)}"></a></div><a href="{$next_page[url]}">下一组&gt;</a>
        </div>
    </div>
  </div>
  
  <div class="bk10"></div>

  <div class="bk10"></div>
  
</div>


<script type="text/javascript" src="{JS_PATH}show_picture.js"></script>
<script type="text/javascript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>
			</div>
			
		</div>
		
	</div>
	<div class="clear"></div>
<script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>
<script type="text/javascript" src="{JS_PATH}show_picture.js"></script>
<script type="text/javascript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>
{template "content","footer"}