{template "content","header"}
<div class="container" id="overview">
        <div id="new-sidebar">
            
            <div class="logoArea">
                <div>
                    <img src="{IMG_PATH}images/logo.png" alt="">
                </div>
            </div>
           
        </div>

        <div class="articleMain">
           
            
            <div id="new-page" align="center">
               <p>{$content}</p>
           </div>
        </div>
<div class="push"></div>
</div>
{template "content","footer"}